<h3>General Health Tips</h3>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>Eat and drink safely</h4>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <h4>Eat</h4>
        <ul>
            <li>Food that is cooked and served hot</li>
            <li>Hard-cooked eggs</li>
            <li>Fruits and vegetables you have washed in clean water or peeled yourself</li>
            <li>Pasteurized dairy products</li>
        </ul>
        <h4>Don't Eat</h4>
        <ul>
            <li>Food served at room temperature</li>
            <li>Food from street vendors</li>
            <li>Raw or soft-cooked (runny) eggs</li>
            <li>Raw or undercooked (rare) meat or fish</li>
            <li>Unwashed or unpeeled raw fruits and vegetables</li>
            <li>Unpasteurized dairy products</li>
            <li>”Bushmeat” (monkeys, bats, or other wild game)</li>
        </ul>
        <h4>Drink</h4>
        <ul>
            <li>Bottled water that is sealed</li>
            <li>Water that has been disinfected</li>
            <li>Ice made with bottled or disinfected water</li>
            <li>Hot coffee or tea</li>
            <li>Pasteurized milk</li>
        </ul>
        <h4>Don’t Drink</h4>
        <ul>
            <li>Tap or well water</li>
            <li>Ice made with tap or well water</li>
            <li>Drinks made with tap or well water (such as reconstituted juice)</li>
            <li>Unpasteurized milk</li>
        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>Reduce your exposure to germs</h4>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
            <li>Wash your hands often, especially before eating.</li>
            <li>If soap and water aren’t available, clean hands with hand sanitizer (containing at least 60% alcohol).</li>
            <li>Don’t touch your eyes, nose, or mouth. If you need to touch your face, make sure your hands are clean.</li>
            <li>Cover your mouth and nose with a tissue or your sleeve (not your hands) when coughing or sneezing.</li>
            <li>Try to avoid contact with people who are sick.</li>
            <li>If you are sick, stay home or in your hotel room, unless you need medical care.</li>
        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>Know how to get medical care while traveling</h4>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
            <li>Review your health insurance plan to determine what medical services it would cover during your trip. Consider purchasing travel health and medical evacuation insurance.</li>
            <li>Carry a card that identifies, in the local language, your blood type, chronic conditions or serious allergies, and the generic names of any medications you take.</li>
            <li>Bring all the medicines (including over-the-counter medicines) you think you might need during your trip, including extra in case of travel delays. Ask your doctor to help you get prescriptions filled early if you need to.</li>
            <li>Carry a list of local doctors and hospitals at your destination.</li>
        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>Stay safe outdoors</h4>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
            <li>Stay alert to changing weather conditions and adjust your plans if conditions become unsafe.</li>
            <li>Prepare for activities by wearing the right clothes and packing protective items, such as bug spray, sunscreen, and a basic first aid kit.</li>
            <li>Swim only in designated swimming areas. Obey lifeguards and warning flags on beaches.</li>
            <li>Practice safe boating—follow all boating safety laws, do not drink alcohol if driving a boat, and always wear a life jacket.</li>
            <li>Do not swim in freshwater in developing areas or where sanitation is poor.</li>
            <li>Avoid swallowing water when swimming. Untreated water can carry germs that make you sick.</li>
        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>Prevent bug bites</h4>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
            <li>Cover exposed skin by wearing long-sleeved shirts, long pants, and hats.</li>
            <li>Use an appropriate insect repellent (see below).</li>
            <li>Swim only in designated swimming areas. Obey lifeguards and warning flags on beaches.</li>
            <li>Use permethrin-treated clothing and gear (such as boots, pants, socks, and tents). Do not use permethrin directly on skin.</li>
            <li>Stay and sleep in air-conditioned or screened rooms.</li>
            <li>Use a bed net if the area where you are sleeping is exposed to the outdoors.</li>
        </ul>
        <h4>What should I do if I am bitten by bugs?</h4>
        <ul>
            <li>Avoid scratching bug bites, and apply hydrocortisone cream or calamine lotion to reduce the itching.</li>
            <li>Check your entire body for ticks after outdoor activity. Be sure to remove ticks properly.</li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>